<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/root.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    />
    <title>KonfinityPost</title>
  </head>
  <body>
    <nav>
      <div id="nav-logo">
        <p class="logo"><i class="fas fa-envelope-open"></i>KonfinityPost</p>
        <!-- <div id="user-info">
          <a href="">Konfinity,</a>
          <a href="">Settings</a>
          <a>|</a>
          <a href="">Logout</a>
        </div> -->
      </div>
      <div id="nav-menu">
        <a href="/" class="menu-button current">Campaigns</a>
        <a href="/lists" class="menu-button">Lists</a>
        <a href="" class="menu-button">Reports</a>
      </div>
    </nav>

    <section id="main-section">
      <div id="sidebar">
        <button
          class="panel-button-large"
          onclick="window.location.href = '/campaigns/create'"
        >
          Create a Campaign
        </button>
        <button class="panel-button">Send a Campaign</button>
        <a href="/" class="current"><i class="fas fa-envelope"></i>Campaigns</a>
        <a href="/campaigns/completed"
          ><i class="fas fa-check-circle"></i>Completed Queue</a
        >
      </div>
      <div id="main-content">
        <h1><i class="fas fa-envelope"></i>Email Campaigns</h1>
        <div id="pagination-bar">
          <div id="left-bar" class="sub-bar">
            <input type="checkbox" name="" id="" />
            <select name="" id="">
              <option value="">Choose an Action</option>
            </select>
            <button>Go</button>
          </div>
          <div id="right-bar" class="sub-bar">
            <select name="" id="">
              <option value="">10 per page</option>
            </select>
            <p>[Page 1 of 1]</p>
            <p>
              <a> <i class="fas fa-fast-backward"></i></a>
              <a><i class="fas fa-step-backward"></i></a>
              <a>1</a>
              <a> <i class="fas fa-step-forward"></i></a>
              <a><i class="fas fa-fast-forward"></i></a>
            </p>
          </div>
        </div>

        <table class="data-container">
          <% for (campaign in campaigns){ %>

          <tr>
            <td class="fixed-width-3">
              <input class="table-ip" type="checkbox" name="" id="" />
            </td>
            <td class="fixed-width-14">
              <p class="subject"><%= campaigns[campaign].name %></p>
              <div class="smaller hover-only">
                <a href="">[view]</a>
                <a href="">[send]</a>
                <a href="/campaigns/copy?id=<%= campaigns[campaign]._id %>"
                  >[copy]</a
                >
                <a
                  href="/campaigns/edit?id=<%= campaigns[campaign]._id %>"
                  class="edit"
                  >[edit]</a
                >
                <a
                  href="/campaigns/delete?id=<%= campaigns[campaign]._id %>"
                  class="delete"
                  >[delete]</a
                >
              </div>
            </td>
            <td>
              <p><%= campaigns[campaign].subject %></p>
              <p class="smaller create-date">
                Created on <%=campaigns[campaign].createdAt.getDate() + '/'+
                campaigns[campaign].createdAt.getMonth() + '/'+
                campaigns[campaign].createdAt.getFullYear(); %>
              </p>
            </td>
            <td>
              <p>(Sent to 3/3)</p>
              <p class="smaller sent-date">
                Last Sent <%=campaigns[campaign].createdAt.getDate() + '/'+
                campaigns[campaign].createdAt.getMonth() + '/'+
                campaigns[campaign].createdAt.getFullYear(); %>
              </p>
            </td>
            <td>
              <div class="status">
                <i class="fas fa-circle smaller"></i>
                <p class="smaller">state</p>
              </div>
            </td>
            <td>
              <div class="status">
                <i class="fas fa-circle smaller"></i>
                <p class="smaller">archive</p>
              </div>
            </td>
          </tr>

          <% } %>
        </table>
      </div>
    </section>
  </body>
</html>
